<div style="margin:0!important;padding:0!important">
  <table border="0" cellpadding="0" cellspacing="0" width="510" align="center">
    <tbody><tr>
      <td bgcolor="#ffffff" align="center" style="padding:30px"  width="510">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" >
          <tbody><tr>
            <td>
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody><tr>
                  <td>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tbody><tr>
                        <td align="left" style="padding:20px 0 0 0" >
                          <table width="46px" border="0" cellspacing="0" cellpadding="0">
                            <tbody><tr>
                              <td style="width:46px">
                                <h1 style="font-family:Helvetica,Arial,sans-serif;">Tesco Finance</h1>
                              </td>
                            </tr>
                          </tbody></table>
                        </td>
                      </tr>
                      <tr>
                        <td align="left" style="padding:30px 0 0 0;font-size:24px;line-height:37px;font-family:Helvetica,Arial,sans-serif;color:#272343;font-weight:normal" >
                          Verify your email address
                        </td>
                      </tr>
                      <tr>
                        <td align="left" style="padding:10px 0 0 0;width:510px;font-size:16px;line-height:25px;font-family:Helvetica,Arial,sans-serif;color:#8392a5" >
                          Before we get started, you need to verify your email
                          address, please enter this code in your browser.
                        </td>
                      </tr>
                      <tr>
                        <td align="left" style="padding:40px 0 0 0" width="305" >
                          <table width="255" style="width:255px" border="0" cellspacing="0" cellpadding="0">
                            <tbody><tr>
                              <td width="255"  style="width:196px;border-radius:5px;background-color:#f1f5f5;color:#272343;font-size:35px;line-height:18px;word-break:break-word;text-align:center;font-weight:400;text-decoration:none!important;font-family:Helvetica,Arial,sans-serif;padding:0 25px;height:111px">
                                <table width="255" style="width:255px" border="0" cellspacing="0" cellpadding="0">
                                  <tbody><tr>
                                    <td align="center" style="color:#272343;font-size:35px;line-height:35px;word-break:break-word;text-align:center;font-weight:400;text-decoration:none!important;font-family:Helvetica,Arial,sans-serif;letter-spacing:5px">
                                      {{verifyCode}}
                                    </td>
                                  </tr>
                                </tbody></table>
                              </td>
                            </tr>
                          </tbody></table>
                        </td>
                      </tr>
                      <tr>
                        <td align="left" style="padding:30px 0 0 0;width:510px;font-size:16px;line-height:25px;font-family:Helvetica,Arial,sans-serif;color:#8392a5" >
                          If you didn’t request a code, you can safely ignore
                          this email.
                        </td>
                      </tr>
                    </tbody></table>
                  </td>
                </tr>
              </tbody></table>
            </td>
          </tr>
        </tbody></table>
      </td>
    </tr>

    <tr>
      <td bgcolor="#ffffff" align="center" style="padding:0px 30px 40px" >
        <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" >
          <tbody><tr>
            <td align="left" style="font-size:16px;padding-top:25px;border-top:1px #f1f5f5 solid;line-height:18px;font-family:Helvetica,Arial,sans-serif;color:#8392a5" >
              <a href="https://www.xllr.co.uk/" style="color:#8392a5;text-decoration:none" target="_blank">www.<span >xllr</span>.co.uk</a>
            </td>
          </tr>
        </tbody></table>
      </td>
    </tr>
  </tbody></table><div ></div><div >
</div></div>